* {
    box-sizing: border-box;
}

html body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */
.row {
    display: flex;
}

.btn {
    width: 118px;
    height: 50px;
    border-radius: 25px;
    color: #FFFFFF;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.9;
}

/* navbar */
header {
    background-color: #FFFCF4;
    height: 900px;
}

.header .body {
    display: flex;
    padding-top: 36px;
    align-items: center;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    font-weight: 400px;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 0 21px;
}

.navbar ul::before {
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar ul a:first-child {
    color: #171100;
}

.header .actions {
    margin-left: 59px;
    text-align: center;
}

.actions .btn {
    width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 14px 41px;
    background: #171100;
}

/* ====Hero==== */
.hero {
    margin-top: 64px;
    display: flex;
}

.hero .info {
    width: 41%;
    margin-left: 130px;
}

.hero .image {
    position: relative;
    width: 570px;
}

.hero .card {
    position: absolute;
    right: -20px;
    bottom: 51px;
    width: 270px;
    padding: 24px 0;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px #0000000D;

}

.card .course {
    margin-bottom: 14px;
}

.card .icon {
    margin-left: 24px;
}

.card .qty {
    text-align: start;
    margin-left: 16px;
}

.card .quantity {
    font-weight: 400;
    font-size: 1.4rem;
    color: #5F5B53;
    line-height: 1.85;
}

.card .funs {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.info {
    margin-top: 64px;
}

.info .title {
    font-family: 'Sen', sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #171100;
}

.info .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    color: #5F5B53;
}

.info .row {
    margin-top: 38px;
    text-align: center;
}

.info .row .btn {
    width: 180px;
    height: 64px;
    background: #FFB900;
    border-radius: 32px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 20px 34px;
}

.info .click {
    margin-left: 28px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.info .watch {
    transform: translateY(-50%);
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.info .recent {
    width: 361px;
}

.info .recent .desc{
    margin-top: 26px;
}

.info .recent .row {
    margin-top: 0;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 400;
    color: #5F5B53;
}

.info .recent .number {
    margin-top: 8px;
    margin-right: 9px;
    font-family: 'Sen', sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: #171100;
}