* {
    box-sizing: border-box;
}

html body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #FFB900;
    --font-family: 'Sen', sans-serif;
}

/* common */
.break-all {
    word-break: break-all;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

.row {
    display: flex;
    align-items: center;
}

.btn {
    width: 118px;
    height: 50px;
    border-radius: 999px;
    color: #FFFFFF;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.9;
}

/* ====header==== */
header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    padding: 40px 0 12px;
    align-items: center;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    font-weight: 400px;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 8px 21px;
}

.navbar ul li:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .actions {
    margin-left: 59px;
}

.actions .btn {
    width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 14px 41px;
    background: #171100;
}

/* ====Hero-left==== */
.hero {
    padding: 52px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media {
    position: relative;
    width: 48%;
}

.hero .media .img-guy {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .card {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px #0000000D;

}

.hero .card .course {
    display: flex;
}

.hero .card .course + .course {
    margin-top: 22px;
}

.hero .card .qty {
    text-align: start;
    margin-left: 16px;
}

.hero .card .quantity {
    font-weight: 400;
    font-size: 1.4rem;
    color: #5F5B53;
    line-height: 1.86;
}

.hero .card .funs {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
    line-height: 1.67;
}

/* ====Hero-right==== */
.hero .info {
    width: 52%;
    margin-left: 230px;
    margin-top: 64px;
}

.hero .info .title {
    font-family: var(--font-family);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .info .desc {
    margin: 22px 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    color: #5F5B53;
}

.hero .info .row {
    margin-top: 38px 0 48px;
    text-align: center;
}

.hero .info .row .btn {
    min-width: 180px;
    height: 64px;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 20px 34px;
}

.hero .info .click {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
}

.hero .info .click:hover {
    cursor: pointer;
    opacity: 0.9;
}

.click .stars {
    margin-top: 16px;
}

.hero .info .watch {
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.hero .info .recent {
    width: 361px;
}

.hero .info .recent .desc{
    margin: 38px 0 8px;
}

.hero .info .recent .row {
    margin-top: 0;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 400;
    color: #5F5B53;
}

.hero .info .recent .number {
    font-family: var(--font-family);
    margin-top: 8px;
    margin-right: 9px;
    font-size: 4.4rem;
    font-weight: 700;
    color: #171100;
}

/* ====popular==== */
.popular {
    padding: 200px 0;
}

.popular .heading {
    display: flex;
    align-items: center;
}

.popular .heading .title {
    width: 39%;
}

.popular .heading .sub-title {
    font-family: var(--font-family);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .heading .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    color: #5F5B53;
    margin-top: 16px;
}

.popular .arrow {
    display: flex;
    margin-left: auto;
}

.arrow .back-icon {
    padding: 10px 15px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid var(--primary-color);
}

.arrow .next-icon {
    margin-left: 18px;
    padding: 10px 15px;
    border-radius: 50%;  
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* ====Items==== */
.popular .items {
    margin-top: 55px;
    display: flex;
}

.popular .item {
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.popular .item:hover {
    box-shadow: 0px 18px 36px 0px #0000000D;
    border-color: transparent;
}

.popular .item:nth-child(2) {
    margin: 0 30px;
} 

.popular .items .img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .items .popular-info {
    padding: 16px 22px 22px;
    border-radius: 12px;
}

.popular .items .title {
    display: flex;
    align-items: center;
}

.popular .popular-info .sub-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    color: #171100;
}

.popular .title .rate {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.popular .title .rate p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #FEA31B;
    margin: 2px 0 0 6px;
}

.popular .popular-info .desc {
    padding-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #5F5B53;
}

.popular-info .info {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.popular-info .info .price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    color: #171100;
}

.popular-info .info .btn {
    background: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    text-align: center;
    padding: 12px 24px;
    margin-left: auto;
}

.popular-info .info .btn:hover {
    background: var(--primary-color);
    opacity: 1;
}

/* ====Feedback==== */
.feedback {
    display: flex;
    background:#2E2100;
    padding: 96px 0;
}

.feedback .customer .people {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .customer .name {
    font-family: var(--font-family);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: #F7F7F7;
    margin-top: 18px;
}

.feedback .customer .desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    color: #BFBCB2;
    margin-top: 4px;
}

.feedback .select {
    display: flex;
    margin-top: 28px;
}

.feedback .customer .button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback .customer .button:nth-child(2) {
    margin: 0 6px;
}

.feedback .customer .button:hover {
    background: var(--primary-color);
}

.feedback .content {
    display: flex;
}

.feedback .comment {
    position: relative;
    margin-left: auto;
    width: 66%;
}

.feedback .comment .icon {
    position: absolute;
    top: 0;
    left: -30px;
}

.feedback .comment .desc {
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    color: #FFFFFF;
    margin-top: 28px;
}

/* ====Feature==== */
.feature {
    padding: 0 0 200px;
    display: flex;
}

/* ====Feature-01==== */
.features1 {
    display: flex;
}

.feature1 .image {
    display: flex;
}

.feature1 .feature {
    padding-top: 200px;
}

.feature1 .img1 {
    margin: 34px 30px 0 0;
}

.feature1 .info {
    width: 41%;
    margin-left: auto;
    margin-top: 58px;
}

.feature .sub-title {
    font-family: var(--font-family);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}

.feature .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #5F5B53;
    padding: 0 0 32px;
}

.info .desc1 {
    margin-bottom: 16px;
}

.feature .btn {
    min-width: 137px;
    width: 137px;
    background: var(--primary-color);
    padding: 11px 37px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.feature2 .info {
    width: 49%;
}

.feature2 .sub-title {
    margin-top: 71px;
}

.feature2 .img3 {
    margin-left: auto;
}

/* ====Blog==== */
.blog {
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .heading {
    text-align: center;
    width: 39%;
    margin: 0 auto 55px;
}

.blog .heading .sub-title {
    font-family: var(--font-family);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .heading .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696262;
    margin-top: 16px;
}

.blog .items {
    display: flex;
}

.blog .items .img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px, 16px, 0px, 0px;
}

.blog .items .item:nth-child(2) {
    margin: 0 30px;
}

.blog .items .body {
    background: #FFFFFF;
    box-shadow: 0px 16px 32px 0px #0000000D;
    padding: 20px 20px 28px;
}

.blog .items .day {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.blog .items .day::after {
    position: absolute;
    left: 0;
    bottom: -12px;
    right: -27px;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    display: inline-block;
}

.blog .items .button {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: var(--primary-color);
    margin-right: 4px;
}

.blog .items .date {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #5F5B53;
}

.blog .items .sub-title {
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #171100;
}

.blog .items .btn {
    background: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    text-align: center;
    padding: 12px 21px;
    margin-top: 12px;
}

.blog .items .btn:hover {
    background: var(--primary-color);
    opacity: 1;
}

.blog .select {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.blog .select .button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
}

.blog .select .button:nth-child(2) {
    margin: 0 6px;
}

.blog .select .button:hover {
    background: var(--primary-color);
    opacity: 1;
}

/* ====Footer==== */
.footer {
    padding: 96px 0 28px;
    background: #2E2100;
}

.footer .finish {
    display: flex;
}

.footer .end {
    width: 25%;
    margin-right: 145px;
}

.footer .end .desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #BFBCB2;
    margin: 18px 0;
}

.footer .end .social .social-icon {
    margin-right: 18px
}

.footer .row {
    margin-left: auto;
    display: flex;
}

.footer .row .column:nth-child(2) {
    margin: 0 130px;
}

.footer .row .column:nth-child(3) {
    width: 29%;
    margin-top: -13px;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .row .item a {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #BFBCB2;
    
}

.footer .row .sub-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #FFFFFF;
    padding: 0 48px 14px 0;
    display: inline-block;
    border-bottom: 1px solid #59554b;
}

.footer .row .item {
    padding: 6px 0;
}

.footer .row .item strong {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    color: #FFFFFF;
}

.footer .separate {
    width: 100%;
    height: 1px;
    background: #59554B;
    margin: 38px 0 28px;
}

.footer .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}